<%- include('partials/header'); -%>
<form>
    <h2>login</h2>
   <label for="email">Email</label>
   <input type="text" name="email"  required/>
   <label for="password">Password</label>
   <input type="password" name="password" required />
   <button>Login</button>  
</form>
<script>
    const form=document.querySelector('form')
    form.addEventListener('submit',(e)=>{
        e.preventDefault();
        const email=form.email.value;
        const password=form.password.value;
    })
</script>
<%- include('partials/footer'); -%>